{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>Galeria</h1>
    {% for image in images %}
    <p>Nome: {{ image.titulo }}</p>
    <img src="{{ image.imagem.url }}" alt="{{ image.title }}" width="100" height="100">
    {% endfor %}
    <a href="/sair" class="btn">Logout<a/>
    <a href="/home" class="btn">Enviar imagem</a>
</body>
</html>
